*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/mamun.jpg); */
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    /* margin-left: 300px; */
}
.container{
    padding: 10px 10px;
    /* display: flex; */
}


nav{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
#projects{
    padding: 30px 0;
}
.projectlist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.text{
    margin-top: 20%;
    font-size: 30px;
}
.text h1{
    font-size: 60px;
    margin-top: 20px;
    /* margin-left: 40px; */
}
.text h1 span{
    color: red;
}
.about{
    padding: 80px 0;
    color: #ababab;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.aboutcol1{
 flex-basis: 35%;
}
.aboutcol1 img{
    width: 50%;
    border-radius: 15px;
    margin-left: 90px;
}
.aboutcol2{
 flex-basis: 60%;
}
.projectlist div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: transform 0.5s;
}
.projectlist div i{
    font-weight: 50px;
    margin-bottom: 30px;
}
.projectlist div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projectlist div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.projectlist div a:hover{
    background: #ff004f;
    transform: translateY(-10px);
    transition: 0.5s;
}
.title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab{
    display: flex;
    margin: 20px 0 40px;
}
.links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;position: relative;
}
.links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.links.activelink::after{
  width: 50%;
}
.content ul li{
    list-style: none;
    margin: 10px 0;
}
.content ul li span{
    color: palevioletred;
    font-size: 14px;
}
.content{
    display: none;
}
.content.activetab{
    display: block;
}
.left{
    flex-basis: 35%;
}
.right{
    flex-basis: 60%;
}
.left p{
    margin-top: 30px;
}
.left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.icons{
    margin-top: 30px;
}
.icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
     transition:  transform 0.5s;
}
.icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: red;
    /* width: 100px; */
    /* height: 40px; */
    /* margin-left: 50px; */
    margin-top: 20px;
    padding: 10px;
}
.right{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: red;
}


nav .fa-solid{
    display: none;
}
@media only screen and (max-width:600px) {
    #header{
        background-image: url(images/mamun.jpg);
    }
    .text{
        margin-top: 100%;
        font-size: 16px;
    }
    .text h1{
        font-size: 13px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
            position: absolute;
            top: 25px;
            left: 25px;
            cursor: pointer;
    }
    .title{
        font-size: 40px;
    }
    .aboutcol1, .aboutcol2{
        flex-basis: 100%;

    }
    .aboutcol1{
        margin-bottom: 30px;
    }
    .aboutcol2{
        font-size: 14px;
    }
    .links{
        font-size: 16px;
        margin-right: 20px;
    }
    .left, .right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }

}

